@import "../../styles/config";

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.figure {
  flex: 1 1 auto;
  max-width: 100%;
  margin: 0;
}

.image {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade-in ease-in-out 0.5s;
}

.alt {
  @include themed('color', 'page-accent-fg');

  text-align: center;
  margin-top: 0.125rem;
  font-size: 1.1rem;
}
