@import "@styles/config";

$class-colors: (
  Druid:   #ff7c0a,
  Hunter:  #aad372,
  Mage:    #68ccef,
  Paladin: #f48cba,
  Priest:  #ffffff,
  Rogue:   #fff468,
  Shaman:  #2359ff,
  Warlock: #9382c9,
  Warrior: #c69b6d,
);

@each $class, $color in $class-colors {
  .#{$class}Color {
    color: $color;

    &.nameInput {
      color: $color;

      &::selection {
        background-color: rgba($color, 0.5);
        color: darken($color, 20%);
      }

      &:focus-visible {
        box-shadow: none;
        border-color: $color;
      }
    }
  }
}

.teamForm {
  display: flex;
  margin: 1rem 0;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);

  @include active-theme('dark') {
    background-color: rgba(255, 255, 255, 0.05);
  }

  @media all and (max-width: 540px) {
    flex-flow: row wrap;
  }
}

.field {
  display: flex;
  flex-flow: row nowrap;

  & + .field {
    margin-left: 1rem;
  }

  &.fieldButton {
    margin-left: auto;
  }

  @media all and (max-width: 540px) {
    width: 100%;

    & + .field {
      margin-top: 1rem;
      margin-left: 0;
    }

    &.fieldButton button.saveBtn {
      width: 100%;
    }

    input.fieldInput {
      width: 100%;
      min-width: 0;
      padding: 0.4rem 0.3rem;

      select {
        width: 100%;
      }
    }
  }
}

.team {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 0.8rem;
  padding: 1rem 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);

  & + .team {
    margin-top: 1rem;
  }

  @include active-theme('dark') {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.teamTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0.5rem;
}

.group {
  display: block;
  width: calc(25% - 1rem);
  padding: 0.5rem 0 0;
  margin: 0.5rem;
  list-style: none;

  &.spaceLeft {
    margin-left: auto;
  }

  li {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
    line-height: 1;
    min-height: 2.1rem;
    min-width: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: #fff;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;

    &:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    @include active-theme('dark') {
      background-color: #444;

      &:hover::after {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    &.groupTitle {
      background-color: transparent;
      border-color: transparent;
      padding-top: 0.2rem;
      min-height: 0;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      cursor: default;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @include active-theme('dark') {
        background-color: transparent;

        &:hover::after {
          display: none;
        }
      }
    }

    @each $class, $color in $class-colors {
      &.#{$class} {
        background-color: $color;
        color: rgba(0, 0, 0, 0.5);
        @include active-theme('dark') {
          background-color: $color;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    & + li {
      margin-top: 0.5rem;
    }
  }

  @media all and (max-width: 48rem) {
    width: calc(100% / 3 - 1rem);
  }

  @media all and (max-width: 38rem) {
    width: calc(50% - 1rem);
  }

  @media all and (max-width: 28rem) {
    width: calc(100% - 1rem);
  }
}

.bench {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  flex: 1 1 auto;
  max-width: 50%;
  margin-left: auto;

  .group {
    width: calc(50% - 1rem);
  }

  @media all and (max-width: 48rem) {
    width: 100%;
    max-width: calc(100% / 3 * 2);
    margin-left: 0;
  }

  @media all and (max-width: 38rem) {
    max-width: 100%;
  }

  @media all and (max-width: 28rem) {
    max-width: 100%;

    .group {
      width: calc(100% - 1rem);
    }
  }
}

.trunc {
  display: inline-block;
  min-width: 0;
  max-width: 100%;

  span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}

.roleIcon {
  width: 1.2em;
  min-width: 1.2em;
  max-width: 1.2em;
  height: 1.2em;
  min-height: 1.2em;
  max-height: 1.2em;
  transform: scale(1.2);
  margin-right: 0.5rem;
  margin-left: -0.1rem;
}

.editForm {
  width: 24.5rem;
  max-width: 100%;
}

.roles {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: calc(100% + 0.5rem);
  min-height: 2.75rem;
  margin: -0.25rem;
}

.role {
  position: relative;
  margin: 0.25rem;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  border-radius: 0.25rem;
  border: 3px solid transparent;
  cursor: pointer;

  div:first-child {
    overflow: hidden;
    border-radius: 0.1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    z-index: 10;
  }

  &:global(.selected) {
    background-color: yellow;
    border-color: yellow;
  }

  &:global(.selected):first-child {
    margin-right: 1rem;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      border-left: 0.75rem solid yellow;
      border-top: 0.75rem solid transparent;
      border-bottom: 0.75rem solid transparent;
      z-index: 0;
      transform: translateY(-50%);
    }
  }

  @each $class, $color in $class-colors {
    &:global(.selected.#{$class}) {
      background-color: $color;
      border-color: $color;

      &::after {
        border-left: 0.75rem solid $color;
      }
    }
  }
}

.selectedClass {
  font-weight: 700;
  margin: 0.25rem 0.25rem 0.25rem auto;

  @media all and (max-width: 25rem) {
    width: 100%;
    line-height: 2.25rem;
    height: 2.25rem;
    margin-left: 0.25rem;
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

button.cancelBtn {
  background-color: #d22;
}

button.saveBtn {
  background-color: #2b2;
}

input.nameInput {
  width: 100%;
  margin: 1rem 0 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-width: 2px;
}
