@import '@styles/config';

.button {
    @include themed('background-color', 'primary-bg');
    @include themed('color', 'primary-fg');
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    font-family: quicksand, sans-serif;
    font-weight: 700;
    font-variation-settings: 'wght' 700;
    font-size: 0.8rem;
    line-height: 1.4;
    cursor: pointer;

    &:global(.disabled) {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.1s linear;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover::after {
        opacity: 1;
    }
}
