@import "@styles/config";

.wrapper {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  @include themed('background-color', 'page-bg');
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;

  @include dark {
    background-color: transparent;
    filter: invert(1);
  }
}

.toggleLight {
  display: block;

  @include dark {
    display: none;
  }
}

.toggleDark {
  display: none;

  @include dark {
    display: block;
  }
}
