.entries {
  max-width: 90%;
  margin: 0 auto;

  @media all and (max-width: 53.75rem) {
    max-width: 100%;
  }
}


.entry {
  max-width: 100%;

  &:nth-child(2n-1) {
    background-color: #efefef;
  }
}

.entryHeader {
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
}

.entryHeaderArrow {
  position: relative;
  margin: 0;
  max-width: 2rem;
  max-height: 2rem;
  user-select: none;
}

.entryHeaderArrowOpen {
  transform: rotate(180deg);
}

.entryContent {
  padding: 1rem;
  padding-top: 0;
  border-top: 2px dashed rgba(0,0,0,.2);

  > *:first-child {
    margin-top: 1rem;
  }
}
