@import "@styles/config";

.wrapper {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.no-js) & {
    display: none;
  }
}

.toggle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  user-select: none;

  @include active-theme('dark') {
    background-color: transparent;
    filter: invert(1);
  }

  * {
    pointer-events: none;
  }
}

.toggle[data-theme="light"] {
  display: block;

  @include active-theme('light') {
    display: none;
  }
}

.toggle[data-theme="dark"] {
  display: none;

  @include active-theme('light') {
    display: block;
  }
}
