@import "@styles/config";

.h2 {
  @include themed('background-color', 'primary-bg');
  @include themed('color', 'primary-fg');
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 3rem;

  &:first-child {
    margin-top: 0;
  }
}

.column {
  display: flex;
  flex-flow: column nowrap;

  & + & {
    margin-top: 3rem;
  }
}

.row {
  & + & {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }
}

.block {
  display: flex;
  flex-flow: row nowrap;

  & + & {
    margin-top: 3rem;
  }

  p {
    margin: 0.75rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.details {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  margin: 0;
  margin-bottom: 0.25rem;
  line-height: 1;
  font-size: 1.2rem;
}

.subtitle {
  margin: 0.25rem 0;
  line-height: 1;
}

.stats {
  margin: 0.25rem 0;
  line-height: 1;
}

.dates {
  display: inline-block;
  margin: 0.25rem 0;
}

.subtitle + .dates,
.subtitle + .stats,
.dates + .stats {
  margin-top: 0;
}

.logo {
  flex: 0 0 6rem;
  position: relative;
  width: 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 1rem;

  @media all and (max-width: 32rem) {
    display: none;
  }

  @include active-theme('dark') {
    figure {
      @include themed('background-color', 'page-fg');
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }
}

.volunteering {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: -1rem;
  width: calc(100% + 2rem);
}

.volunteer {
  flex: 1 1 calc(100% / 3 - 2rem);
  min-width: 9rem;
  display: flex;
  margin: 1rem;
  flex-flow: column nowrap;
}

.banner {
  margin: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  line-height: 1.1;
}

.bannerLogo {
  display: flex;
  flex: 0 1 8.75rem;
  width: auto;
  margin-right: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;

  @include active-theme('dark') {
    @include themed('border', '0.25rem solid $0', 'page-fg');
  }
}

.bannerHeader {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.bannerSubtitle {
  font-size: 1.3rem;
}

.bannerDetails {
  margin-top: auto;
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.5;

  a * {
    vertical-align: middle;
  }

  figure {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
}
