@import "@styles/config";

.figure {
  flex: 1 1 auto;
  max-width: 100%;
  margin: 0;
}

.relative {
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}

.alt {
  @include themed('color', 'page-accent-fg');
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}

.invertDark img {
  @include dark {
    filter: invert(1);
  }
}
