@import "../../styles/config";

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.figure {
  flex: 1 1 auto;
  max-width: 100%;
  margin: 0;
}

.relative {
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  animation: fade-in ease-in-out 0.5s;
  border-radius: 0.25rem;
  overflow: hidden;
}

.alt {
  @include themed('color', 'page-accent-fg');
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}
