@import '@styles/config';

.tag {
    @include themed('background-color', 'tag-bg');
    @include themed('color', 'tag-fg');
    border-radius: 3px;
    padding: 0 0.5rem;
    font-size: 0.95rem;
}

.container {
    $gap: 3px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -$gap;
    width: calc(100% + #{$gap * 2});

    .tag {
        margin: $gap;
    }
}
