@use "sass:map";
@import "config.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-size: min(max(0.95rem, 1.5vw), 1.2rem);
  height: 100%;
}

body {
  @include css-body-vars;
  @include themed('color', 'page-fg');
  @include themed('background-color', 'page-bg');
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
}

a {
  text-decoration: none;

  @include themed('color', 'link-fg');
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: auto;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

kbd {
  @include themed('background-color', 'kbd-bg');
  @include themed('color', 'kbd-fg');
  @include themed('box-shadow', '0px 1px $0', 'kbd-fg');
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  min-width: 1.6rem;
  padding: 0.2rem 0.4rem 0.1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  vertical-align: middle;
  transform: translateY(-0.125rem);
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

code {
  @include themed('background-color', 'inline-code-bg');
  @include themed('color', 'inline-code-fg');
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: sans-serif;
  font-weight: 700;
  margin: 2rem 0 0.15rem;

  & + p {
    margin-top: -0.25rem;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

blockquote {
  @include themed('border-color', 'page-accent-fg');
  @include themed('color', 'page-accent-fg');
  margin-left: 0;
  margin-right: 0;
  padding: 0 1rem;
  border: none;
  border-left: 0.25rem solid;
  font-family: serif;
  font-style: italic;
}

*:focus {
  outline: none;
}

*:focus-visible {
  @include themed('box-shadow', '0 0 0 0.15rem $0', 'primary-bg');
  border-radius: 0.25rem;
  outline: none;
}
