@import "config.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  @include css-vars;
}

html {
  font-size: 1rem;
  font-size: min(max(0.9rem, 1.5vw), 1.2rem);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}

a {
  @include themed(color, primary);
  text-decoration: none;
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: auto;
  background-color: #222;
  color: #fff;
  border-radius: 0.25rem;
}
