@import "config.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  @include css-vars;
}

html {
  font-size: 1rem;
  font-size: min(max(0.9rem, 1.5vw), 1.2rem);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}

a {
  @include themed('color', 'primary-bg');
  text-decoration: none;
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: auto;
  border-radius: 0.25rem;
}

p code {
  @include themed('background-color', 'inline-code-bg');
  @include themed('color', 'inline-code-fg');
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.8em;
}
